---
import "./globals.css";
import "katex/dist/katex.css";

import Header from "@/components/astro/Header.astro";
import Footer from "@/components/astro/Footer.astro";
import Aside from "@/components/astro/Aside.astro";
import Title from "@/components/astro/Title.astro";
import TOC from "@/components/astro/TOC.astro";

import Banner from "@/components/react/Banner";

import { type PageProps, getSitemap } from "@/lib/sitemap";

type Props = PageProps;

const pathname = Astro.url.pathname;
const { frontmatter, headings } = Astro.props;
const { labs, projects, tutorials, notes } = getSitemap(pathname);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />

    <title>{frontmatter.title}</title>

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:description" content={frontmatter.description} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="github.io" />
    <meta name="twitter:title" content={frontmatter.title} />
    <meta name="twitter:description" content={frontmatter.description} />

    <script is:inline>
      const storageKey = "ai-ug-theme";
      const el = document.documentElement;
      const systemThemes = ["light", "dark"];
      const defaultTheme = "system";
      const media = "(prefers-color-scheme: dark)";

      function setColorScheme(theme) {
        if (systemThemes.includes(theme)) {
          el.style.colorScheme = theme;
        }
      }

      function updateDOM(theme) {
        el.classList.remove(...systemThemes);
        el.classList.add(theme);
        setColorScheme(theme);
      }

      function getSystemTheme() {
        return window.matchMedia(media).matches ? "dark" : "light";
      }

      try {
        const themeName = localStorage.getItem(storageKey) || defaultTheme;
        const isSystem = themeName === "system";
        const theme = isSystem ? getSystemTheme() : themeName;
        updateDOM(theme);
      } catch {
        // ignore (localStorage might be disabled)
      }
    </script>
  </head>
  <body>
    <Header />
    <div class="flex min-h-svh flex-col justify-between">
      <main class="w-full pt-16">
        <div class="mx-auto flex w-full max-w-screen-2xl px-4 md:px-8 lg:px-16">
          <Aside
            labs={labs}
            notes={notes}
            projects={projects}
            tutorials={tutorials}
            pathname={pathname}
          />
          <div class="w-full lg:flex lg:w-[calc(100%-20rem)] lg:items-start">
            <div class="flex w-full">
              <div class="relative w-full pt-8 2xl:w-[calc(100%-20rem)]">
                <Banner title={frontmatter.title} client:load />
                <Title title={frontmatter.title} />
                <div
                  class="docs prose-headings:scroll-mt-32 prose prose-lg prose-inline-code:px-1.5 prose-inline-code:py-0.5 prose-inline-code:rounded-md prose-inline-code:bg-muted prose-slate prose-cyan dark:prose-invert prose-headings:font-semibold prose-a:font-normal prose-code:font-normal prose-code:before:content-none prose-code:after:content-none mx-auto mb-4 w-full min-w-0 max-w-3xl shrink p-4 pb-8 md:mb-8 md:px-8 lg:mx-0 lg:max-w-full lg:pl-16 lg:pr-8"
                >
                  <slot />
                </div>
              </div>
              <TOC headings={headings} />
            </div>
          </div>
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
